@use 'sass:list';
@use 'sass:map';
@use './is-map' as *;

@function map-merge($map...) {
  $target: list.nth($map, 1);

  @for $i from 2 through list.length($map) {
    @each $key, $value in list.nth($map, $i) {
      @if (is-map(map.get($target, $key)) and is-map($value)) {
        $target: map.merge($target, ($key: map-merge(map.get($target, $key), $value)));
      } @else {
        $target: map.merge($target, ($key: $value));
      }
    }
  }

  @return $target;
}