@use 'sass:string';
@use 'sass:list';

@function str-split($string, $separator: null, $limit: null) {
  @if not $separator {
    @return $string;
  }

  $list: ();
  $limit: if($limit and 0 < $limit and $limit <= string.length($string), $limit, string.length($string));

  @if $separator == '' {
    @for $i from 1 through $limit {
      $list: list.append($list, string.slice($string, $i, $i));
    }

    @return $list;
  }

  $flag: true;
  $count: 0;

  @while $flag {
    $index: string.index($string, $separator);

    @if $index {
      $list: list.append($list, string.slice($string, 1, $index - 1));
      $string: string.slice($string, $index + string.length($separator));
      $count: $count + 1;

      @if $count == $limit {
        $flag: false;
      }
    } @else {
      $list: list.append($list, $string);
      $flag: false;
    }
  }

  $result: ();

  @each $item in $list {
    @if $item != '' {
      $result: list.append($result, $item);
    }
  }

  @return $result;
}