@use 'sass:string';

@function str-trim($string) {
  $start: 1;
  $end: string.length($string);

  @for $i from 1 through $end {
    $first: string.slice($string, $i, $i);
    $last: string.slice($string, -$i, -$i);

    @if ($first == ' ' or $first == '　') and $i + 1 == $start + 1 {
      $start: $i + 1;
    }

    @if ($end == ' ' or $end == '　') and string.length($string) - 1 == $end - 1 {
      $end: string.length($string) - $i;
    }
  }

  @return string.slice($string, $start, $end);
}

@debug str-trim(' a  e ')